[include]
  # this include my user.signingkey
  path = ~/.gitconfig_local
  # personal non sensible data
  path = ~/.gitconfig_personal

  # aliases
  path = ~/.gitconfig_aliases

[credential]
  helper = osxkeychain

[hub]
  protocol = https

# Enforce SSH
[url "ssh://git@github.com/"]
  insteadOf = https://github.com/
[url "ssh://git@gitlab.com/"]
  insteadOf = https://gitlab.com/
[url "ssh://git@bitbucket.org/"]
  insteadOf = https://bitbucket.org/

[gpg]
  program = /usr/local/bin/gpg

[commit]
  gpgsign = true

[pull]
  rebase = true

[push]
  # Push only current branch by default
  default = current

  # Push tags by default
  followTags = true

[branch]
  autosetuprebase = always

[merge]
  # Include summaries of merged commits in newly created merge commit messages
  log = true

[apply]
  # Detect whitespace errors when applying a patch
  whitespace = fix

[core]
  # ignore .DS_Store and shit here
  excludesfile = ~/.gitignore_global

  quotepath = false

  # properly handle line endings
  # https://help.github.com/articles/dealing-with-line-endings/
  autocrlf = input

  # Treat spaces before tabs and all kinds of trailing whitespace as an error
  # [default] trailing-space: looks for spaces at the end of a line
  # [default] space-before-tab: looks for spaces before tabs at the beginning of a line
  whitespace = space-before-tab,-indent-with-non-tab,trailing-space

  # Make `git rebase` safer on OS X
  # More info: <http://www.git-tower.com/blog/make-git-rebase-safe-on-osx/>
  trustctime = false

  # faster git status
  # https://news.ycombinator.com/item?id=11388479
  untrackedCache = true

[color]
  ui = auto

[color "status"]
  untracked = cyan

# Filters

[filter "media"]
  required = true
  clean = git media clean %f
  smudge = git media smudge %f
[filter "hawser"]
  clean = git hawser clean %f
  smudge = git hawser smudge %f
  required = true
[filter "lfs"]
  clean = git lfs clean %f
  smudge = git lfs smudge %f
  required = true
