[submodule "submodules/terminal/pure"]
	path = submodules/pure
	url = https://github.com/sindresorhus/pure.git
[submodule "submodules/osx/dockutil"]
	path = submodules/dockutil
	url = https://github.com/kcrawford/dockutil.git
[submodule "submodules/zsh-syntax-highlighting"]
	path = submodules/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "submodules/yosemite-menu-inverter"]
	path = submodules/yosemite-menu-inverter
	url = https://github.com/mxcl/yosemite-menu-inverter.git
