.node-gyp
compile-cache
packages
storage

# for https://atom.io/packages/recent-projects
recent-projects.json

# for https://atom.io/packages/gist-it
gist-it.token

# for https://atom.io/packages/git-history
.git-history
