"*":
  "atom-beautify":
    _analyticsUserId: "c8ae3b6d-a781-4233-9780-a96292c2afa8"
  core:
    disabledPackages: [
      "language-mustache"
      "welcome"
      "language-toml"
      "language-ruby-on-rails"
      "language-ruby"
      "language-python"
      "language-perl"
      "language-objective-c"
      "language-java"
      "language-hyperlink"
      "language-go"
      "language-csharp"
      "language-clojure"
      "bookmarks"
      "language-sql"
      "styleguide"
    ]
    openEmptyEditorOnStart: false
    projectHome: "/Users/MoOx/Sync/Development"
    themes: [
      "one-light-ui"
      "duotone-light-sea-syntax"
    ]
  editor:
    fontFamily: "Fira Code"
    fontSize: 15
    invisibles:
      space: "‧"
    lineHeight: 1.45
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "acee8e04-1bbb-8674-25af-f5ccc0cd2d35"
  "find-and-replace":
    focusEditorAfterSearch: true
    openProjectFindResultsInRightPane: true
  flux:
    daySyntaxTheme: "duotone-light-sea-syntax"
    nightSyntaxTheme: "duotone-dark-sea-syntax"
    sunrise: 9
  "git-projects":
    rootPath: "/Users/MoOx/Sync/Development"
  "jour-nuit":
    daySyntaxTheme: "duotone-light-sea-syntax"
    firstTime: true
    nightSyntaxTheme: "duotone-dark-sea-syntax"
    sunrise: 9
  tabs:
    showIcons: false
  "tree-view":
    showOnRightSide: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
