"*":
  Zen:
    gutter: true
    minimap: true
    tabs: "multiple"
    width: 120
  "atom-beautify":
    general:
      _analyticsUserId: "c8ae3b6d-a781-4233-9780-a96292c2afa8"
    ocaml:
      beautify_on_save: true
  "atom-ide-ui":
    hideNuclideWarning: true
  "atom-package-deps":
    ignored: [
      "linter"
    ]
  "autosave-onchange":
    disableOnCommit: false
  core:
    customFileTypes:
      customFileTypes:
        "source.ruby": [
          "Podfile"
        ]
      "source.ini": [
        ".buckconfig"
        ".flowconfig"
        ".hgrc"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
      "source.shell": [
        "zpreztorc"
      ]
    disabledPackages: [
      "bookmarks"
      "language-c"
      "language-clojure"
      "language-coffee-script"
      "language-csharp"
      "language-go"
      "language-hyperlink"
      "language-make"
      "language-mustache"
      "language-perl"
      "language-python"
      "language-ruby-on-rails"
      "language-sass"
      "language-sql"
      "styleguide"
      "welcome"
      "wrap-guide"
      "whitespace"
      "tester-jest"
      "tree-view"
      "teletype"
      "linter"
      "auto-update-packages"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      "node_modules"
      ".apm"
      "compile-cache"
      ".node-gyp"
      "dist"
      "build"
    ]
    openEmptyEditorOnStart: false
    projectHome: "/Users/MoOx/Sync/Development"
    restorePreviousWindowsOnStart: "always"
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "duotone-dark-sea-syntax"
    ]
    titleBar: "custom"
  editor:
    fontFamily: "Dank Mono, Operator Mono, Fira Code, Monaco"
    invisibles:
      space: "‧"
    lineHeight: 1.45
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "acee8e04-1bbb-8674-25af-f5ccc0cd2d35"
  "file-icons":
    coloured: false
    onChanges: true
  "find-and-replace":
    focusEditorAfterSearch: true
  "git-log": {}
  "git-projects":
    rootPath: "/Users/MoOx/Sync/Development"
  "ide-reason":
    ols:
      format:
        width: 80
    rls: {}
  "linter-eslint":
    fixOnSave: true
  "linter-flow": {}
  "linter-ui-default":
    panelHeight: 532
  "multi-wrap-guide":
    columns: [
      80
      120
    ]
    locked: true
    rows: [
      80
      120
    ]
    silent: true
  nuclide:
    "atom-ide-code-format":
      formatOnType: false
    "atom-ide-debugger":
      showDebuggerOnBpSet: false
    "atom-ide-diagnostics-ui": {}
    hyperclick:
      darwinTriggerKeys: "altKey,metaKey"
    installRecommendedPackages: true
    "nuclide-ctags":
      disableWithHack: false
    "nuclide-diagnostics-store": {}
    "nuclide-diagnostics-ui": {}
    "nuclide-diff-view":
      shouldDockPublishView: false
    "nuclide-file-tree":
      allowKeyboardPrefixNavigation: false
      hideIgnoredNames: false
      hideVcsIgnoredPaths: false
      showOpenFiles: false
    "nuclide-flow":
      canUseFlowBin: true
    "nuclide-home":
      showHome: false
    "nuclide-objc":
      enableAutomaticSquareBracketInsertion: false
    "nuclide-python": {}
    use:
      "atom-ide-debugger-java": "default"
      "nuclide-side-bar": false
      "nuclide-source-control-side-bar": false
  "ocaml-merlin": {}
  "one-vibrancy":
    effect: "dark"
  "package-sync": {}
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
      respectEslintignore: false
      showInStatusBar: true
    prettierEslintOptions:
      prettierLast: true
    prettierOptions: {}
    useEditorConfig: false
  "reason-refmt": {}
  "remote-ftp":
    statusbar:
      enable: true
  tabs:
    showIcons: false
  "tool-bar":
    position: "Bottom"
  "tree-view":
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: false
    ignoreWhitespaceOnCurrentLine: false
    removeTrailingWhitespace: false
