"*":
  Zen:
    gutter: true
    minimap: true
    tabs: "multiple"
    width: 120
  "atom-beautify":
    general:
      _analyticsUserId: "c8ae3b6d-a781-4233-9780-a96292c2afa8"
  "atom-package-deps":
    ignored: [
      "linter"
    ]
  core:
    closeDeletedFileTabs: true
    customFileTypes:
      customFileTypes:
        "source.ruby": [
          "Podfile"
        ]
      "source.ini": [
        ".buckconfig"
        ".flowconfig"
        ".hgrc"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "bookmarks"
      "language-c"
      "language-clojure"
      "language-coffee-script"
      "language-csharp"
      "language-go"
      "language-hyperlink"
      "language-make"
      "language-mustache"
      "language-perl"
      "language-python"
      "language-ruby-on-rails"
      "language-sass"
      "language-sql"
      "styleguide"
      "welcome"
      "wrap-guide"
      "whitespace"
      "tester-jest"
      "tree-view"
      "teletype"
    ]
    openEmptyEditorOnStart: false
    projectHome: "/Users/MoOx/Sync/Development"
    restorePreviousWindowsOnStart: "always"
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "duotone-dark-sea-syntax"
    ]
    titleBar: "custom"
  editor:
    fontFamily: "Operator Mono, Fira Code, Monaco"
    fontSize: 19
    invisibles:
      space: "‧"
    lineHeight: 1.45
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "acee8e04-1bbb-8674-25af-f5ccc0cd2d35"
  "file-icons":
    coloured: false
    onChanges: true
  "find-and-replace":
    focusEditorAfterSearch: true
  "git-log": {}
  "git-projects":
    rootPath: "/Users/MoOx/Sync/Development"
  "linter-eslint":
    fixOnSave: true
  "linter-flow": {}
  "linter-ui-default":
    panelHeight: 532
  "multi-wrap-guide":
    columns: [
      80
      120
    ]
    locked: true
    rows: [
      80
      120
    ]
    silent: true
  nuclide:
    "atom-ide-diagnostics-ui": {}
    hyperclick:
      darwinTriggerKeys: "altKey,metaKey"
    installRecommendedPackages: true
    "nuclide-ctags":
      disableWithHack: false
    "nuclide-diagnostics-store": {}
    "nuclide-diagnostics-ui": {}
    "nuclide-diff-view":
      shouldDockPublishView: false
    "nuclide-file-tree":
      allowKeyboardPrefixNavigation: false
      hideIgnoredNames: false
      showOpenFiles: false
    "nuclide-flow":
      canUseFlowBin: true
    "nuclide-home":
      showHome: false
    "nuclide-objc":
      enableAutomaticSquareBracketInsertion: false
    "nuclide-python": {}
    use:
      "atom-ide-busy-signal": "default"
      "atom-ide-code-actions": "default"
      "atom-ide-code-format": "default"
      "atom-ide-code-highlight": "default"
      "atom-ide-console": "default"
      "atom-ide-datatip": "default"
      "atom-ide-definitions": "default"
      "atom-ide-diagnostics": "default"
      "atom-ide-diagnostics-ui": "default"
      "atom-ide-find-references": "default"
      "atom-ide-global": "default"
      "atom-ide-outline-view": "default"
      "atom-ide-signature-help": "default"
      hyperclick: "default"
      "nuclide-adb-logcat": "default"
      "nuclide-adb-sdb": "default"
      "nuclide-atom-notifications": "default"
      "nuclide-autocomplete": "default"
      "nuclide-blame": "default"
      "nuclide-blame-provider-hg": "default"
      "nuclide-bookshelf": "default"
      "nuclide-buck": "default"
      "nuclide-buck-ios": "default"
      "nuclide-clang": "default"
      "nuclide-clipboard-path": "default"
      "nuclide-code-search": "default"
      "nuclide-context-view": "default"
      "nuclide-cquery-lsp": "default"
      "nuclide-ctags": "default"
      "nuclide-current-working-directory": "default"
      "nuclide-debugger": "default"
      "nuclide-debugger-native": "default"
      "nuclide-debugger-new": "default"
      "nuclide-debugger-php": "default"
      "nuclide-debugger-vsp": "default"
      "nuclide-deep-link": "default"
      "nuclide-definition-preview": "default"
      "nuclide-definition-preview-provider": "default"
      "nuclide-deprecation-cop": "default"
      "nuclide-device-panel": "default"
      "nuclide-device-panel-ios": "default"
      "nuclide-diagnostics-extras": "default"
      "nuclide-distraction-free-mode": "default"
      "nuclide-file-family": "default"
      "nuclide-file-family-projectionist": "default"
      "nuclide-file-tree": "default"
      "nuclide-file-watcher": "default"
      "nuclide-flow": "default"
      "nuclide-fuzzy-filename-provider": "default"
      "nuclide-graphql": "default"
      "nuclide-hack": "default"
      "nuclide-health": "default"
      "nuclide-hg-repository": "default"
      "nuclide-hhvm": "default"
      "nuclide-home": "default"
      "nuclide-http-request-sender": "default"
      "nuclide-infer-al": "default"
      "nuclide-ios-simulator-logs": "default"
      "nuclide-js-imports-client": "default"
      "nuclide-json": "default"
      "nuclide-key-binding-hint-status": "default"
      "nuclide-language-hack": "default"
      "nuclide-language-infer-al": "default"
      "nuclide-language-reason": "default"
      "nuclide-metro": "default"
      "nuclide-move-item-to-available-pane": "default"
      "nuclide-navigation-stack": "default"
      "nuclide-navigation-stack-status-bar": "default"
      "nuclide-notifications": "default"
      "nuclide-nux": "default"
      "nuclide-objc": "default"
      "nuclide-ocaml": "default"
      "nuclide-open-filenames-provider": "default"
      "nuclide-outline-view-extras": "default"
      "nuclide-project": "default"
      "nuclide-python": "default"
      "nuclide-quick-open": "default"
      "nuclide-react-inspector": "default"
      "nuclide-recent-files-provider": "default"
      "nuclide-recent-files-service": "default"
      "nuclide-refactorizer": "default"
      "nuclide-related-files": "default"
      "nuclide-remote-atom": "default"
      "nuclide-remote-projects": "default"
      "nuclide-settings": "default"
      "nuclide-side-bar": false
      "nuclide-source-control-side-bar": false
      "nuclide-ssh-tunnel": "default"
      "nuclide-swift": "default"
      "nuclide-syntactic-selection": "default"
      "nuclide-task-runner": "default"
      "nuclide-terminal": "default"
      "nuclide-test-runner": "default"
      "nuclide-type-coverage": "default"
      "nuclide-type-hint": "default"
      "nuclide-ui": "default"
      "nuclide-unicode-datatip": "default"
      "nuclide-url-hyperclick": "default"
      "nuclide-vcs-log": "default"
      "nuclide-working-sets": "default"
  "ocaml-merlin": {}
  "one-vibrancy":
    effect: "dark"
  "package-sync": {}
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
      excludedGlobs: [
        "*.json"
      ]
      respectEslintignore: false
      showInStatusBar: true
    prettierOptions: {}
  "reason-refmt": {}
  "remote-ftp":
    statusbar:
      enable: true
  tabs:
    showIcons: false
  "tool-bar":
    position: "Bottom"
  "tree-view":
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: false
    ignoreWhitespaceOnCurrentLine: false
    removeTrailingWhitespace: false
