packages: [
  "atom-beautify"
  "auto-update-packages"
  "color-picker"
  "docblockr"
  "duotone-dark-sea-syntax"
  "editorconfig"
  "highlight-selected"
  "language-apache"
  "language-babel"
  "language-docker"
  "language-ini"
  "line-length-break"
  "linter"
  "linter-docker"
  "linter-eslint"
  "linter-jsonlint"
  "merge-conflicts"
  "nuclide"
  "open-in-github-app"
  "package-sync"
  "project-manager"
  "smart-tab-name"
  "sort-lines"
  "tool-bar"
]
