packages: [
  "atom-beautify"
  "auto-update-packages"
  "color-picker"
  "docblockr"
  "duotone-dark-sea-syntax"
  "editorconfig"
  "highlight-selected"
  "language-apache"
  "language-babel"
  "language-docker"
  "language-graphql"
  "language-ini"
  "language-ocaml"
  "line-length-break"
  "linter"
  "linter-docker"
  "linter-eslint"
  "linter-jsonlint"
  "merge-conflicts"
  "multi-wrap-guide"
  "nuclide"
  "nuclide-format-js"
  "nuclide-test-runner-jest"
  "open-in-github-app"
  "package-sync"
  "project-manager"
  "smart-tab-name"
  "sort-lines"
  "tool-bar"
  "Zen"
]
