packages: [
  "atom-beautify"
  "auto-update-packages"
  "color-picker"
  "docblockr"
  "duotone-dark-sea-syntax"
  "editorconfig"
  "file-icons"
  "haskell-grammar"
  "highlight-selected"
  "language-apache"
  "language-babel"
  "language-docker"
  "language-gradle"
  "language-graphql"
  "language-groovy"
  "language-haskell"
  "language-ini"
  "language-kotlin"
  "language-lua"
  "language-ocaml"
  "language-reason"
  "language-rust"
  "language-scala"
  "language-swift"
  "language-thrift"
  "line-length-break"
  "linter"
  "linter-docker"
  "linter-eslint"
  "linter-jsonlint"
  "MagicPython"
  "multi-wrap-guide"
  "nuclide"
  "nuclide-format-js"
  "nuclide-test-runner-jest"
  "ocaml-merlin"
  "package-sync"
  "pigments"
  "prettier-atom"
  "project-manager"
  "reason-refmt"
  "remote-ftp"
  "set-syntax"
  "smart-tab-name"
  "sort-lines"
  "teletype"
  "tester"
  "tester-jest"
  "tone-syntax"
  "tool-bar"
]
