/**
 * font ligatures
 * https://github.com/tonsky/FiraCode/wiki/Atom-instructions
 */
atom-text-editor {
  text-rendering: optimizeLegibility;
}

/* less visible flow coverage underline */
atom-text-editor .nuclide-diagnostics-gutter-ui-highlight-warning > .region {
  border-bottom: 1px dashed rgba(235, 222, 11, 0.4);
}

/* (almost) hide ; in JS  */
atom-text-editor .syntax--js.syntax--punctuation.syntax--terminator {
  opacity: 0.4;
}

.tab .title {
  // text-align: right;
  // font-size: 0.8em;
}

// hide custom title bar, but doing this instead of native "hidden" atom option
// allow you to keep macOS buttons (minimize etc)
.custom-title-bar .title-bar {
  display: none;
}
