'exception-reporting':
  'userId': '3ba70428-f782-5321-e73a-7b678f36511c'
'release-notes':
  'viewedVersion': '0.94.0'
'welcome':
  'showOnStartup': false
'metrics':
  'userId': '9e20623847c7c22109bc7b34e71c459485f8781a'
'editor':
  'showInvisibles': true
  'fontFamily': 'Monaco'
  'showIndentGuide': true
  'softTabs': false
  'fontSize': 14
'core':
  'themes': [
    'monokai-tweaked-ui'
    'monokai-tweaked-syntax'
  ]
  'projectHome': '/Users/MoOx/Sync/Development'
'autosave': {}
'autocomplete-plus': {}
